
.content {
  width: 100%;
  padding: 0px 25px;
  padding-top: 0px;
  transition: all 0.3s;
  padding-bottom: 30px;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}